@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>


<address>
    Rua Pedro Alvares Cabral, 177<br />
    Santo André, SP 09210-780<br />
    <abbr title="Phone + Whatsapp">Nbr: </abbr>
    (11) 96220-8661.
</address>

